<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpm.gt_gsk"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cpm.gt_gsk.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
           
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.ShowImage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name="com.cpm.gt_gsk.MainMenuActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.gt_gsk.PosmDeployed"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.dailyEntry.StorelistActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_storelist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.PosmDeployed"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_storelist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.SkuDisplay"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_storelist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.NonWorkingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_storelist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.StoreVisitedActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_storelist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cpm.dailyEntry.DailyentryMenuActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.dailyEntry.SecondaryScreenwindow"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.download.CompleteDownloadActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.upload.UploadOptionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.upload.UploadDataActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.upload.UploadImageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.upload.UploadAllDataActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.upload.UploadAllImageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.autoupdate.AutoupdateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.web.ShowUpdateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>